<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>home-page</title>
        <style>
            body {
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
            }
        </style>
    </head>

    <body>
        <section>
            <h1>Short URL Generater</h1>
            <div>
                <form method="post" action="/url">
                    <label>Enter URL</label>
                    <input
                        placeholder="https://www.example.com"
                        type="text"
                        name="url"
                    />
                    <button type="submit">Generate</button>
                </form>
            </div>
            <div>
                <% if (locals.id) { %>
                <p>Your URL is: http://localhost:8001/url/<%= id%></p>
                <% } %>
            </div>
            <div>
                <% if (locals.userData) { %>
                <table>
                    <thead>
                        S. No
                    </thead>
                    <thead>
                        Short ID
                    </thead>
                    <thead>
                        Redirect
                    </thead>
                    <thead>
                        Clicks
                    </thead>
                    <tbody>
                        <% userData.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.redirectedUrl %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } %>
            </div>
        </section>
    </body>
</html>
